node_modules
.DS_Store
tmp
public/packs
db/development.sqlite3
*.log

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
db/development.sqlite3
Procfile.dev
db/test.sqlite3
log/development.log
.rbenv-vars
